/* Stili base per Pin, Rettangoli e Maniglie di Ridimensionamento */
.interactive-pin {
  outline: none;
}

.interactive-box {
  user-select: none;
}

.interactive-box:hover {
  backdrop-filter: blur(1px);
}

.handle {
  touch-action: none;
}

